.card_wrapper {
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-bottom: 37px;
  cursor: pointer;
}

.card_image > img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.card_info {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_name {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
}

.card_time {
  padding: 1px 16px 16px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #a0a0a0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .card_wrapper {
    width: 339px;
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card_wrapper {
    width: 300px;
    /* margin-bottom: 30px; */
  }
}
