.profile__wrapper {
  background-color: #ffffff;

  color: #000000;
}

.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 396px;

  margin: 70px auto;
}

.profile__form > p {
  text-align: center;
}

.profile__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #000000;
  margin-bottom: 120px;
}

.profile_input-block {
  display: flex;
  flex-direction: column;
}

.profile_input {
}

.profile__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 220px;
}

.profile__button-exit {
  color: #ee3465;
  text-decoration: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  text-align: center;
  margin-top: 16px;
}
