.show-more {
  padding: 50px 0 80px;
  text-align: center;
  width: 100%;
}

.show-more__button {
  width: 320px;
  border: 1px solid #e8e8e8;
  background-color: transparent;
  padding: 11px 0 9px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.show-more__button:hover {
  opacity: 0.6;
}
