.popup {
  position: fixed;
  font-family: "Inter", Arial, sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
  visibility: hidden;
}

.popup_type_image {
  position: fixed;
  font-family: "Inter", Arial, sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  /* flex-direction: column; */
}
.popup__container {
  display: flex;
  flex-direction: column;
  width: 520px;
  right: 0;
  background-color: #fff;
  color: #000;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 112px 90px 621px;
}

.menu > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  padding-bottom: 28px;
}
