.about_wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
  color: #000000;
}

.about_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: -0.04em;

  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.about_content {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.about_title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
}

.about_line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 93px;
}

.about_line_green {
  width: 20%;
  background-color: #2be080;
  border: none;
}

.about_line_gray {
  width: 80%;
  background-color: #f2f2f2;
}

.about_line_block {
  max-height: 36px;
  padding: 9px 0;
  text-align: center;
}

.about_line_underblock {
  background-color: #fff;
  max-height: 36px;
  padding: 9px 0;
  text-align: center;
  color: #a0a0a0;
  border-color: #fff;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about_wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 90px 50px;
    color: #000000;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about_wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 70px 18px;
    color: #000000;
  }

  .about_header {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.04em;
  }

  .about_content {
    flex-direction: column;
    margin-top: 60px;
  }

  .about_text {
    margin-bottom: 56px;
    margin-top: 16px;
  }

  .about_line_green {
    min-width: 100px;
  }

  .about_line {
    margin-top: 0;
  }
}
