.register__wrapper {
  background-color: #ffffff;

  color: #000000;
}

.register__form {
  display: flex;
  flex-direction: column;
  max-width: 396px;

  margin: 70px auto;
}

.register__form > p {
  text-align: center;
}

.register__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-bottom: 10px;
}

.register__input-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #a0a0a0;
}
.auth__input {
  margin: 0;
  margin-bottom: 20px;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  min-height: 27px;
  padding: 15px;
}

input[type="email"],
textarea {
  background-color: #fff;
}

.register__button {
  margin-top: 69px;
  padding: 13px 0;
  background-color: #2be080;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.auth__button-registry,
.auth__button-registry:active,
.auth__button-registry:visited {
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #2be080;
  padding: 0;
  margin: 0;
  margin-left: 6px;
}
