.aboutme_wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 110px 70px 50px;
  color: #000000;
}

.aboutme_header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: -0.04em;

  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.aboutme_content {
  display: flex;
  flex-direction: row;
  margin-top: 66px;
  /* margin-bottom: 50px; */
  justify-content: space-between;
}

.aboutme_info {
  display: flex;
  flex-direction: column;
}

.aboutme_name {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;

  margin-bottom: 18px;
}

.aboutme_prof {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  color: #000000;
  margin-bottom: 26px;
}

.aboutme_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #000000;
  margin-bottom: 99px;
  max-width: 600px;
  mix-blend-mode: normal;
}

.aboutme_link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  text-decoration: none;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .aboutme_wrapper {
    padding: 90px 50px;
  }

  .aboutme_name {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .aboutme_prof {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: #000000;

    mix-blend-mode: normal;
    margin-bottom: 20px;
  }

  .aboutme_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    margin-bottom: 87px;
    max-width: 364px;
  }
  .aboutme_foto {
    /* width: 255px; */
  }
  .aboutme_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .aboutme_content {
    max-width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .aboutme_wrapper {
    padding: 70px 14px;
  }
  .aboutme_header {
    font-size: 18px;
    line-height: 22px;
  }
  .aboutme_content {
    margin-top: 60px;
    flex-direction: column-reverse;
  }

  .aboutme_name {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .aboutme_prof {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .aboutme_text {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
    /* max-width: 292px; */
  }
}
